fichero{
	background-color: #1F618D;
}

ficha {
	display: table;
	border-spacing: 10px;
	border: white 1px solid;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 80%;
}

a{
	font-size:8mm;
	color:white;
}

nombre[sexo]::before {
	content: " (Genero: " attr(sexo) ") ";
	color:orange;
	font-size:5mm;
}
nombre {
	display: block;
	font-size:8mm;
	color:gold;
}
nombre[edad]::after {
	content: " (edad: " attr(edad) ")";
	font-size:5mm;
	color:orange;
}
apellido {
	display: block;
	font-size:8mm;
	color:gold;
}
direccion {
	display: block;
	font-size:8mm;
	color:gold;
}
DUI {
	display: block;
	font-size:8mm;
	color:pink;
}